{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_detail_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_detail.css' %}">
{% endblock%}
    
{% block header %}
<div class="container-fluid">
    <ul class="nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'post:list' %}">Go back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                {% if request.user.is_authenticated %}
                    href="{% url 'authentication:logout' %}">Logout
                {% endif %}
            </a>
        </li>
      </ul>
</div>
{% endblock  %}

{% block content %}
<article class="card w-50">
    <img class="card-img-top" src="{{ post.image.url }}" alt="Post image">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text text">{{ post.text }}</p>
    </div>
</article>
{% endblock%}
