<div class="container-fluid">
    <ul class="nav mr-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link"
                    {% if request.user.is_authenticated %}
                        href="{% url 'authentication:logout' %}">logout
                    {% else %}
                        href="{% url 'authentication:login' %}">login
                    {% endif %}
                </a>
            </li>
      </ul>
</div>