{% extends 'base/base.html' %}

{% comment %} {% block header %}
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %} {% endcomment %}

{% block content %} {% endcomment %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    {% else %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    {% endif %}
{% endblock %}
