{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_list.css' %}">
{% endblock%}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article class="card w-50">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Post image">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text text">{{ post.text }}</p>
                    <a href="{% url 'post:detail' post.id %}" class="btn btn-primary">Continue reading</a>
                    {% if post.tags %}
                    <!-- TODO -->
                    <p class="tags"></p>
                    {% endif %}
                </div>
            </article>
            <hr />
        {% endfor %}
    {% endif %}
{% endblock %}
