{% extends 'base/base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"">
{% endblock%}


{% block content %}
    <div class="wrapper">
        <div class="form-container">
            <h2>Login</h2>
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Log In</button>
            </form>
        </div>
        <div class="form-text">
            <p>If you don't have an account, <a href="{% url 'authentication:signup' %}">go to the register page</a><p>
            <p>If you have forgotten your password, you can <a href="{% url 'authentication:request_password' %}">request a new one</a></p>
        </div>
    </div>
{% endblock %}
